<!DOCTYPE html>
<html>
<head>
    <title>gg page</title>
</head>
<body>
<h1>gg page<br></h1>
<h4>{{> options}}</h4>
<h2>
    my name is {{name}} and time is {{time}}
</h2>

{{> ggtest}}
<h2>ggtest end</h2>
</body>
</html>